.img-cover {
  object-fit: cover;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(255, 255, 255, 0.15);
  backdrop-filter: bulr(5px);
  align-items: center;
  justify-content: center;
  z-index: 999;
}
